{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="content-homepage">
    <!-- slide-homepage-1-->
    <div class="slider-homepage1">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner">
                {% for collection in collections %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="slide-homepage"
                                {% if collection.picture %}
                             style="background-image: url('{{ collection.picture.url }}')"
                                {% endif %}>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-8 col-8 content-slide">
                                        <h2>{{ collection.name }} </h2>
                                       <a href="{{ collection.get_absolute_url }}">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="control-slider-homepage1">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon">  <span class="lnr lnr-chevron-left"></span>  </span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon"> <span class="lnr lnr-chevron-right"></span> </span>
            </a>
        </div>
    </div>
    <!--end slide-homepage-1-->
    <!-- cosmetic-->
    <div class="container">
        <div class="row cosmetic">
            <div class="col-md-6 bg-cosmetic">
                {% if art_description.picture %}
                    <img src="{{ art_description.picture.url }}" alt="{{ art_description.name }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="inner-cosmetic">
                    <h2>{{ art_description.name }}</h2>
                    <h3>{{ art_description.header }}</h3>
                    <p>{{ art_description.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <!--end cosmetic-->

    <div class="container">

    <div class="product-out">

        <div class="title">
            <h2 class="text-center">Product Our</h2>
        </div>

        <div class="product-slider">

            <button class="slider-btn prev" type="button">
                &#10094;
            </button>

            <div class="product-window">

                <div class="product-track">

                    {% for product in products %}

                        <div class="product-slide">

                            <div class="card">

                                <div class="card-img-top">

                                    <a href="{{ product.get_absolute_url }}">

                                        {% if product.picture %}
                                            <img class="image-cover"
                                                 src="{{ product.picture.url }}"
                                                 alt="{{ product.name }}">
                                        {% endif %}

                                    </a>

                                </div>

                                <div class="card-body">

                                    <p class="card-title">
                                        <a href="{{ product.category.get_absolute_url }}">
                                            {{ product.category }}
                                        </a>
                                    </p>

                                    <p class="woocommerce-loop-product__title">
                                        <a href="{{ product.get_absolute_url }}">
                                            {{ product.name }}
                                        </a>
                                    </p>

                                    <span class="price">

                                        <span class="woocommerce-Price-amount amount">

                                            <span class="woocommerce-Price-currencySymbol">
                                                €
                                            </span>

                                            {{ product.price }}

                                        </span>

                                    </span>

                                </div>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            </div>

            <button class="slider-btn next" type="button">
                &#10095;
            </button>

        </div>

    </div>

</div>
        <!-- code review home-->
        <div class="container-fluid">
            <div class="row review-homepage" style=" background-image: url('https://via.placeholder.com/1920x640.jpg/f5f2f2');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        ">
                <div class="container">
                    <div class="row ">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="content-review-homepage">
                                        {% for owner in owners %}
                                        <img src="{{ owner.owner_picture.url }}" alt="">
                                        <h3 class="text-center">{{ owner.owner_name }}</h3>
                                        <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i>
                                        </p>
                                        <p style="padding-bottom: 100px;">
                                            {{owner.owner_description}}
                                        </p>
                                        {% endfor %}
                                    </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--end code review home-->

    </div>

    <script>
    const track = document.querySelector('.product-track');
    const nextButton = document.querySelector('.slider-btn.next');
    const prevButton = document.querySelector('.slider-btn.prev');

    let position = 0;

    nextButton.addEventListener('click', function () {

        const products = document.querySelectorAll('.product-slide');

        if (position < products.length - 4) {
            position++;
            track.style.transform = `translateX(-${position * 25}%)`;
        }

    });

    prevButton.addEventListener('click', function () {

        if (position > 0) {
            position--;
            track.style.transform = `translateX(-${position * 25}%)`;
        }

    });
</script>

{% endblock %}
