{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!--title detail-->
    <div class="title-page"
         style="background-image: url('{% static 'background_pics/you-can-do-it.jpg' %}');background-position: center center;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class=" col-md-6 inner-title-page">
                    <h1>Shop</h1>
                    <p><span>Home</span> / Shop / Product Single</p>
                </div>
            </div>
        </div>
    </div>
    <!--end title detail-->
    <!--product detail-->
    <div class="container">
        <div class="product-single-detail">
            <div class="row product_detail">
                <div class="col-md-6 col-sm-12 col-12">
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                {% if product.picture %}
                                    <img src="{{ product.picture.url }}" alt="{{ product.name }}">
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            <li>
                                {% if product.picture %}
                                    <img src="{{ product.picture.url }}" alt="{{ product.name }}">
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-12 content-product">
                    <h2>{{ product.name }} | €{{ product.price }}</h2>

                    <p>{{ product.short_description }}</p>
                    <div class="infor-product">
                        <p><span>Category: </span>{{ product.category }}</p>
                        <p><span>Tag: </span>{{ product.tag }}</p>
                        <p><span>Share: </span>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/raneddi?igsh=MXI0cTFwOXpwbWJpMQ=="
                               target="_blank"
                               rel="noopener noreferrer">
                                <i class="fab fa-instagram"></i>
                            </a>
                    </div>
                    <div>
                        
                        <div class="btn-group">
                            <a href="#" class="btn add-to-cart">ADD TO CART<p><i
                                    class="fas fa-cart-plus"></i></p></a>
                        </div>
                    </div>
                    <div class="information">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                   role="tab" aria-controls="pills-home" aria-selected="true">Description</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                 aria-labelledby="pills-home-tab">
                                {{ product.description }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end product detail-->
    <!--end product related-->

{% endblock %}
